body {
    background-color: #1d2236;
}
h1, hr, h2, h3, h4, h5, h6, p, table, th, td{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #add8ff;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
hr {
    width: 80%;
}
th, td {
    border: 3px solid white;
    padding: 8px;
    width: 40px;
}
table {
    border-collapse: collapse;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}
thead, th, tbody{
    width: 15%;
}
p, code {
    font-size: large;
}
code {
    background-color: teal;
    border-radius: 10px;
    padding: 7px;
}
.padding-left {
    padding-left: 10%;
}

.center-txt {
    text-align: center;
}
.longer-row {
    width: 100px;
}
.table-small {
    width: 10%;
}